apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus-stack
  namespace: prometheus-stack
spec:
  interval: 30m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: 78.5.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-stack
        namespace: prometheus-stack
      interval: 12h
  install:
    crds: Create
  upgrade:
    crds: CreateReplace
  driftDetection:
    mode: enabled
    ignore:
    - paths:
      - /metadata/annotations/prometheus-operator-validated
      target:
        kind: PrometheusRule
  valuesFrom:
  - kind: ConfigMap
    name: prometheus-stack-values

